@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: white;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.dashboard-bg {
  background-color: #D9D9D9;
}

.header-bg {
  background-color: #00263B;
}

.value-row-bg {
  background-color: #007893;
}

.dashboard-size {
  height: 500px;
  width: 70%;
}

.dashboard-double-row {
  height: 1200px;
  width: 70%;
}

.dashboard-single-height {
  height: 500px;
}
